.icono{
    width: 100px;
}

.hamb__icon{
    width: 32px;
    margin: 0;
    padding: 0;
}

.hamb__button{

    background-color: rgba(255, 255, 255, 0.788);
    padding: 2px;
    margin: 0;
    border: transparent;
    border-radius: 20px;
}

.hamb__button:hover{

    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin: 0;
    border: transparent;
    border-radius: 12px;

    box-shadow: 0px 0px 64px white;
    transition: all, 0.3s;
}


.listaDrop {
    border: none;
}


.subItem:hover {
    border: none;
    color: white;
    background: linear-gradient(
        4deg,
        rgb(29, 248, 182) 0%,
        rgb(23, 189, 136) 100%
      );
    border-radius: 8px;
    transition: all, .3s;
}