.gradient__bg {

  /* ff 3.6+ */
  background: -moz-linear-gradient(148deg, rgba(9, 43, 10, 1) 0%, rgba(84, 180, 88, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(148deg, rgba(9, 43, 10, 1) 0%, rgba(84, 180, 88, 1) 100%);

  /* opera 11.10+ */
  background: -o-linear-gradient(148deg, rgba(9, 43, 10, 1) 0%, rgba(84, 180, 88, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54B458', endColorstr='#092B0A', GradientType=1);

  /* ie 10+ */
  background: -ms-linear-gradient(148deg, rgba(9, 43, 10, 1) 0%, rgba(84, 180, 88, 1) 100%);

  /* global 94%+ browsers support */
  background: linear-gradient(148deg, rgba(9, 43, 10, 1) 0%, rgba(84, 180, 88, 1) 100%);

}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */