.cascading-right {
  margin-right: -50px;
}

.cardbg {
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.imgbg {
  height: 8px;
}
